In [1]:
import numpy as np
import pandas as pd

In [2]:
t = list(range(0,551,10)) + [555]
names = []
for i in range(1,len(t)):
    names.append('data_'+str(t[i-1])+'_to_'+str(t[i])+'.csv')

In [3]:
for i,f in enumerate(names):
    try:
        if i == 0:
            all_df = pd.read_csv('dataset_masters/'+f)
        if i != 0:
            df = pd.read_csv('dataset_masters/'+f)
            all_df = pd.concat([all_df,df], axis=0)
    except:
        pass

In [4]:
def ielts_to_toefl(row):
    if not np.isnan(row['IELTS']) and row['IELTS']<10:
        if row['IELTS'] <=4:
            return 31
        elif row['IELTS'] <=4.5:
            return 34
        elif row['IELTS'] <=5:
            return 45
        elif row['IELTS'] <=5.5:
            return 59
        elif row['IELTS'] <=6:
            return 78
        elif row['IELTS'] <=6.5:
            return 93
        elif row['IELTS'] <=7:
            return 101
        elif row['IELTS'] <=7.5:
            return 109
        elif row['IELTS'] <=8:
            return 114
        elif row['IELTS'] <=8.5:
            return 117
        elif row['IELTS'] <=9:
            return 120
    elif row['IELTS']>10:
        return row['IELTS']
    else:
        return row['TOEFL']

In [5]:
all_df['NEW_TOEFL'] = all_df.apply(ielts_to_toefl, axis=1)
all_df['TOEFL'] = all_df['NEW_TOEFL']
all_df = all_df.drop(['NEW_TOEFL','IELTS'], axis=1)

In [6]:
all_df = all_df.reset_index(drop=True)

In [7]:
ind = list(all_df[all_df.isnull().any(axis=1)].index)
all_df = all_df.drop(ind)

In [8]:
univ = all_df['UNIVERSITY'].unique()

In [9]:
for k in univ:
    df = all_df[all_df['UNIVERSITY']==k].reset_index(drop=True)
    df.to_csv('data_'+k+'.csv', index=False, sep=',')